@font-face {
    font-family: "SF Pro Display Bold";
    src: url('./fonts/bold.OTF');
}

@font-face{
    font-family:"SF Pro Display Regular";
    src:url('./fonts/regular.OTF');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
    font-family: "SF Pro Display Regular";
}

body {
    height: 100vh;
    background-color: rgb(23,25,29);
    width: 100vw;
    transition: all ease 0.5s;
}

.container {
    padding: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
    min-width: 100vw;
    background-color: rgb(23,25,29);
}
nav {
    width: 100%;
    padding: 15px 0 20px 0;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav .input i {
    margin-left: 10px;
}

nav .input {
    background-color: rgb(53,55,61);
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    display: flex;
    font-family: 'SF Pro Display Regular';
    align-items: center;
}

nav .input input {
    margin-left: 10px;
    width: 100%;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    font-size: 17px;
}


.main_content {
    background-color: rgb(53,55,61);
    min-height: 60vh;
    width: auto;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: "SF Pro Display Regular";
}

.city_details {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.city_details .name i {
    margin-right: 6px;
}

.city_details .time {
    color: rgb(151, 153, 156);
}

.images {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-self: space-between;
}

.images .image1 img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(23,25,29);
}

.image2 {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
}

.images .image2 img {
    height: 140px;
    width: 140px;
}

.images .image2 span {
    color: white;
}

.images .image2 #temp{
    margin-top: -30px;
    font-size: 50px;
}

.tips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(70,72,78);
    border: 1px solid rgb(100, 100, 100);
    min-height: 20vh;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.con_head {
    color: white;
    font-family: "SF Pro Display Regular";
}

.bulb {
    color: orange;
    padding-right: 10px;
}

.tips_content {
    color: rgb(212, 210, 210);
    font-family: "SF Pro Display Regular";
}
.status {
    text-transform: capitalize;
}